# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env
smart_bins.db
waste_model.h5

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store
